<a href="https://colab.research.google.com/github/nealonleo9/DS-Unit-1-Sprint-2-Statistics/blob/master/stats_week_2_day_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>
<br></br>
<br></br>

## *Data Science Unit 1 Sprint 2 Assignment 1*

# Apply the t-test to real data

Your assignment is to determine which issues have "statistically significant" differences between political parties in this [1980s congressional voting data](https://archive.ics.uci.edu/ml/datasets/Congressional+Voting+Records). The data consists of 435 instances (one for each congressperson), a class (democrat or republican), and 16 binary attributes (yes or no for voting for or against certain issues). Be aware - there are missing values!

Your goals:

1. Load and clean the data (or determine the best method to drop observations when running tests)
2. Using hypothesis testing, find an issue that democrats support more than republicans with p < 0.01
3. Using hypothesis testing, find an issue that republicans support more than democrats with p < 0.01
4. Using hypothesis testing, find an issue where the difference between republicans and democrats has p > 0.1 (i.e. there may not be much of a difference)

Note that this data will involve *2 sample* t-tests, because you're comparing averages across two groups (republicans and democrats) rather than a single group against a null hypothesis.

In [0]:
#my hypothsis guess is

In [0]:
import pandas as pd
import numpy as np


df = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/voting-records/house-votes-84.data')

In [5]:
df.head

<bound method NDFrame.head of      republican  n  y n.1 y.1 y.2 y.3 n.2 n.3 n.4 y.4  ? y.5 y.6 y.7 n.5 y.8
0    republican  n  y   n   y   y   y   n   n   n   n  n   y   y   y   n   ?
1      democrat  ?  y   y   ?   y   y   n   n   n   n  y   n   y   y   n   n
2      democrat  n  y   y   n   ?   y   n   n   n   n  y   n   y   n   n   y
3      democrat  y  y   y   n   y   y   n   n   n   n  y   ?   y   y   y   y
4      democrat  n  y   y   n   y   y   n   n   n   n  n   n   y   y   y   y
..          ... .. ..  ..  ..  ..  ..  ..  ..  ..  .. ..  ..  ..  ..  ..  ..
429  republican  n  n   y   y   y   y   n   n   y   y  n   y   y   y   n   y
430    democrat  n  n   y   n   n   n   y   y   y   y  n   n   n   n   n   y
431  republican  n  ?   n   y   y   y   n   n   n   n  y   y   y   y   n   y
432  republican  n  n   n   y   y   y   ?   ?   ?   ?  n   y   y   y   n   y
433  republican  n  y   n   y   y   y   n   n   n   y  n   y   y   y   ?   n

[434 rows x 17 columns]>

1. Class Name: 2 (democrat, republican)
2. handicapped-infants: 2 (y,n)
3. water-project-cost-sharing: 2 (y,n)
4. adoption-of-the-budget-resolution: 2 (y,n)
5. physician-fee-freeze: 2 (y,n)
6. el-salvador-aid: 2 (y,n)
7. religious-groups-in-schools: 2 (y,n)
8. anti-satellite-test-ban: 2 (y,n)
9. aid-to-nicaraguan-contras: 2 (y,n)
10. mx-missile: 2 (y,n)
11. immigration: 2 (y,n)
12. synfuels-corporation-cutback: 2 (y,n)
13. education-spending: 2 (y,n)
14. superfund-right-to-sue: 2 (y,n)
15. crime: 2 (y,n)
16. duty-free-exports: 2 (y,n)
17. export-administration-act-south-africa: 2 (y,n)

In [0]:
#code to show missing values

In [0]:
df = df.rename(columns={
'republican':'party',
'n':'handicapped-infants',
'y':'water-project-cost-sharing',
'n.1':'adoption-of-the-budget-resolution',
'y.1':'physician-fee-freeze',
'y.2':'el-salvador-aid',
'y.3':'religious-groups-in-schools',
'n.2':'anti-satellite-test-ban',
'n.3':'aid-to-nicaraguan-contras',
'n.4':'mx-missile',
'y.4':'immigration',
'?':'synfuels-corporation-cutback',
'y.5':'education-spending',
'y.6':'superfund-right-to-sue',
'y.7':'crime',
'n.5':'duty-free-exports',
'y.8':'export-administration-act-south-africa'})

In [8]:
df.head(500)

          party  ... export-administration-act-south-africa
0    republican  ...                                      ?
1      democrat  ...                                      n
2      democrat  ...                                      y
3      democrat  ...                                      y
4      democrat  ...                                      y
..          ...  ...                                    ...
429  republican  ...                                      y
430    democrat  ...                                      y
431  republican  ...                                      y
432  republican  ...                                      y
433  republican  ...                                      n

[434 rows x 17 columns]

In [9]:
df.isnull().sum()

party                                     0
handicapped-infants                       0
water-project-cost-sharing                0
adoption-of-the-budget-resolution         0
physician-fee-freeze                      0
el-salvador-aid                           0
religious-groups-in-schools               0
anti-satellite-test-ban                   0
aid-to-nicaraguan-contras                 0
mx-missile                                0
immigration                               0
synfuels-corporation-cutback              0
education-spending                        0
superfund-right-to-sue                    0
crime                                     0
duty-free-exports                         0
export-administration-act-south-africa    0
dtype: int64

In [0]:
df = df.replace({"y": 1, "n": 0, "?": np.NaN})

In [11]:
df.describe()

       handicapped-infants  ...  export-administration-act-south-africa
count           422.000000  ...                              330.000000
mean              0.443128  ...                                0.812121
std               0.497345  ...                                0.391209
min               0.000000  ...                                0.000000
25%               0.000000  ...                                1.000000
50%               0.000000  ...                                1.000000
75%               1.000000  ...                                1.000000
max               1.000000  ...                                1.000000

[8 rows x 16 columns]

In [12]:
df.isnull().sum()

party                                       0
handicapped-infants                        12
water-project-cost-sharing                 48
adoption-of-the-budget-resolution          11
physician-fee-freeze                       11
el-salvador-aid                            15
religious-groups-in-schools                11
anti-satellite-test-ban                    14
aid-to-nicaraguan-contras                  15
mx-missile                                 22
immigration                                 7
synfuels-corporation-cutback               20
education-spending                         31
superfund-right-to-sue                     25
crime                                      17
duty-free-exports                          28
export-administration-act-south-africa    104
dtype: int64

In [13]:
df.dropna

<bound method DataFrame.dropna of           party  ...  export-administration-act-south-africa
0    republican  ...                                     NaN
1      democrat  ...                                     0.0
2      democrat  ...                                     1.0
3      democrat  ...                                     1.0
4      democrat  ...                                     1.0
..          ...  ...                                     ...
429  republican  ...                                     1.0
430    democrat  ...                                     1.0
431  republican  ...                                     1.0
432  republican  ...                                     1.0
433  republican  ...                                     0.0

[434 rows x 17 columns]>

In [14]:
df.describe()

       handicapped-infants  ...  export-administration-act-south-africa
count           422.000000  ...                              330.000000
mean              0.443128  ...                                0.812121
std               0.497345  ...                                0.391209
min               0.000000  ...                                0.000000
25%               0.000000  ...                                1.000000
50%               0.000000  ...                                1.000000
75%               1.000000  ...                                1.000000
max               1.000000  ...                                1.000000

[8 rows x 16 columns]

In [15]:
df.tail()

          party  ...  export-administration-act-south-africa
429  republican  ...                                     1.0
430    democrat  ...                                     1.0
431  republican  ...                                     1.0
432  republican  ...                                     1.0
433  republican  ...                                     0.0

[5 rows x 17 columns]

In [16]:
rep = df[df['party'] == 'republican']
dem = df[df['party'] == 'democrat']

rep.head()

         party  ...  export-administration-act-south-africa
0   republican  ...                                     NaN
6   republican  ...                                     1.0
7   republican  ...                                     1.0
9   republican  ...                                     0.0
10  republican  ...                                     NaN

[5 rows x 17 columns]

i

In [17]:
dem.head()

      party  ...  export-administration-act-south-africa
1  democrat  ...                                     0.0
2  democrat  ...                                     1.0
3  democrat  ...                                     1.0
4  democrat  ...                                     1.0
5  democrat  ...                                     1.0

[5 rows x 17 columns]

In [18]:
dem.describe()

       handicapped-infants  ...  export-administration-act-south-africa
count           258.000000  ...                              185.000000
mean              0.604651  ...                                0.935135
std               0.489876  ...                                0.246956
min               0.000000  ...                                0.000000
25%               0.000000  ...                                1.000000
50%               1.000000  ...                                1.000000
75%               1.000000  ...                                1.000000
max               1.000000  ...                                1.000000

[8 rows x 16 columns]

In [19]:
rep.describe()

       handicapped-infants  ...  export-administration-act-south-africa
count           164.000000  ...                              145.000000
mean              0.189024  ...                                0.655172
std               0.392727  ...                                0.476960
min               0.000000  ...                                0.000000
25%               0.000000  ...                                0.000000
50%               0.000000  ...                                1.000000
75%               0.000000  ...                                1.000000
max               1.000000  ...                                1.000000

[8 rows x 16 columns]

In [0]:
# water project cost sharing = equal 50-50, phsition free freeze = .05-98 rep, adoption of budget = dem .13-.88

In [0]:
from scipy import stats

In [22]:
stats.ttest_ind(dem['water-project-cost-sharing'], rep['water-project-cost-sharing'], nan_policy='omit')

Ttest_indResult(statistic=-0.02491808700047811, pvalue=0.9801332440121653)

In [23]:
stats.ttest_ind(dem['physician-fee-freeze'], rep['physician-fee-freeze'], nan_policy='omit')

Ttest_indResult(statistic=-49.213324889131904, pvalue=1.0401154557088818e-176)

## Stretch Goals:

1. Refactor your code into functions so it's easy to rerun with arbitrary variables
2. Work on Performing a T-test without using Scipy in order to get "under the hood" and learn more thoroughly about this topic.
### Start with a 1-sample t-test
 - Establish the conditions for your test 
 - [Calculate the T Statistic](https://blog.minitab.com/hs-fs/hubfs/Imported_Blog_Media/701f9c0efa98a38fb397f3c3ec459b66.png?width=247&height=172&name=701f9c0efa98a38fb397f3c3ec459b66.png) (You'll need to omit NaN values from your sample).
 - Translate that t-statistic into a P-value. You can use a [table](https://www.google.com/search?q=t+statistic+table) or the [University of Iowa Applet](https://homepage.divms.uiowa.edu/~mbognar/applets/t.html)

 ### Then try a 2-sample t-test
 - Establish the conditions for your test 
 - [Calculate the T Statistic](https://lh3.googleusercontent.com/proxy/rJJ5ZOL9ZDvKOOeBihXoZDgfk7uv1YsRzSQ1Tc10RX-r2HrRpRLVqlE9CWX23csYQXcTniFwlBg3H-qR8MKJPBGnjwndqlhDX3JxoDE5Yg) (You'll need to omit NaN values from your sample).
 - Translate that t-statistic into a P-value. You can use a [table](https://www.google.com/search?q=t+statistic+table) or the [University of Iowa Applet](https://homepage.divms.uiowa.edu/~mbognar/applets/t.html)

 ### Then check your Answers using Scipy!